body {
    margin: 0;
    font-family: sans-serif;
    background-color:#fff;   
}
.wrapper {
   }
.header {
    max-width: 1920px; 
    height: 76px;  
    margin: 0 auto;
    display: flex;
    align-items: center;
    background-color: #01983b;
    background-image: url(../sources/pattern.png);  
}
.menu {
    width: 980px;
    margin: 0 auto;
}
 .flex-menu {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

.flex-menu > div > a {
    display: block; 
    box-sizing: border-box;
    line-height: 30px;       /* ?Без этого текст пунктов меню уходит несколько вверх  ??*/
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-family: sans-serif; 
    font-weight: normal;
    font-size: 16px; 
    border-bottom: 2px solid transparent; /*чтобы не плыли пункты, линии есть сразу, но не видны*/
    border-top: 2px solid transparent;
}
.flex-menu > div > a:hover {
    border-color: #fff;   
    transition: border 0.5s;
}
.flex-menu > div > a:active {
background-color:blueviolet;
transition: all 0.5s;
transition: border 0.5s;
border-color: yellow;
color: yellow; 
}
.screen-1{
    max-width: 1920px; 
    margin: 0 auto;
   /* height: 720px; */ 
    background-image: url(../images/screen-1.jpg);
}
.content{
    display: flex;
    max-width: 980px;
    margin: 0 auto;
    height: 140px;
    justify-content: space-between;
  }
.logo-1{
    display: flex;
    align-items: center;
    max-width: 490px;
    height: 140px;   
}
.logo-1 > a{
    width: 396px;
    height: 56px; 
    background-image: url(../images/logo-1.png);
} 
.contacts{
    max-width: 490px;
    height: 140px;
}
.table{
    display: inline-table;
    text-align: right;
}
.seti {
   padding-left: 0px;
    padding-top: 30px;
    color: #01983b;
    font-family: sans-serif; 
    font-weight: normal;
    text-transform: uppercase;
    font-size: 12px; 
    text-align: right;
}
   .tel p>a{   
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: #2c2783; 
    transition: 0.4s;
}
.tel p>a:hover{
   text-decoration: underline;
   transition: 0.4s;
}
.tel p>a:active{
    color: #000;
 }
.instagram >a:hover {
   opacity: 0.3;
   transition: all 0.4s;
}
.wk >a:hover {
    opacity: 0.3;
    transition: all 0.4s;
 }
 input {
    width: 390px;
    height: 24px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-bottom: solid 1px #bfbdd9;
 }
 button {
    width: 19px;
    height: 19px;
    background-image: url(..//images/lupa.png);
    border: none;
    background-color: #fff;
 }
.slider{
    max-width: 980px; 
    height: 493px;
    margin: 0 auto;
 }
 
 .shadow-1 {
    margin: 0 auto;
    width: 1148px;
    height: 88px;
    background-image: url(../images/shadow-1.png);

 }
.screen-2{
    max-width: 1920px; 
    margin: 0 auto;
   /* height: 797px;  */
    background-image: url(../images/screen-2.jpg);
    background-repeat: no-repeat;
}

.logo{
    width: 374px;
    height: 29px;
    padding-top: 69px;
    margin: 0 auto;
}
p {
    margin-top: 0;
    margin-bottom: 0;
}
 .title {
     font-family: 'EuropeExt';
     font-size: 2rem;                  
     font-style: normal;
     font-weight: bold;
     text-align: center;
     text-transform: uppercase;
     color: #073d79;
     padding-top: 25px; /*Это по макету, но у параграфа свой паддинг, поэтому сначала обнуляем для всех P */
     padding-bottom: 20px;
 }
 .video{
    width: 576px;
    height: 318px;
    margin: 0 auto;
 }
 .shadow-2 { 
    width: 787px;
    height: 54px;
    background-image: url(../images/shadow-2.png);
    margin: 0 auto;
 }
.novaboard {
    margin: 0 auto;
    width: 840px;  
}
.novaboard > p{
    line-height: 17px;
    font-family: monospace;
    text-align: center;
    font-size: 14px;
    color: #0a274d;                        /*проверить цвет*/
}
.know{
    margin: 0 auto;
    margin-top: 35px;
    margin-bottom: 25px;
    width: 406px;
    height: 53px;
    border-radius: 5px;
    background-color: #01983b;
    background-image: url(../sources/pattern.png);
    box-shadow: 0px 2px 5px 1px gray;
}
.know > a {
    line-height: 53px;
    box-sizing: border-box;
    display: block;
    font-family: 'EuropeExt';
    font-size: 24px;          
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    text-align: center;
    transition: all 0.5s;

}
.know > a:hover  {
    background-color: #93d1ab;
    border-radius: 5px;
    transition: all 0.6s;
}
.know > a:active {
    background-color: #287144;
    border-radius: 5px;
    transition: all 0.6s;
}
.screen-3 {
    max-width: 1920px; 
    margin: 0 auto;
   /*  height: 826px; */
    background:  url(../images/screen-3.jpg);
 
}
.title-3{
      padding-top: 50px;
      padding-bottom: 36px;
}
/*linear-gradient(to top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)),*/
.sfera {
    margin: 0 auto; 
    width: 1225px;
    height: 309px;
    background: #fff;
}
.civil-construction {
    display: block; 
    width: 609px;
    height: 309px;                                                       /* в фотошопе "очистить стиль слоя" */
    background-image: linear-gradient(to top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../images/civilin.png);
}
.title-flex1 >p {
    font-family: sans-serif;
    font-size: 24px;                  
    font-style: normal;
    font-weight: normal;
    padding-right: 45px;
    text-transform: uppercase;
    color: #fff;
    padding-top: 19px; 
    margin-bottom: 14px; 
    text-align: right; 
}
.title-flex2 >p {
    padding-left: 45px;
    text-align: left; 
}

.industrial-construction { 
    display: block; 
    width: 609px;
    height: 309px;
    background-image: linear-gradient(to top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../images/industrial.png);
}
.content-left{
    display: block;
    height: 18px;
    margin-top: 6px;
    text-align: right;
   }
.content-left >p{
    display: inline-block;
    font-family: sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    padding-right: 50px;
    padding-left: 35px;
    padding-top: 2px;
    text-transform: uppercase;
    color: #fff;
    background-color: #01983b;
    position: relative;
}
.content-right{
    display: block;
    height: 18px;
    margin-top: 6px;
}
.content-right >p{
    display: inline-block;
    font-family: sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    padding-right: 35px;
    padding-left: 50px;
    padding-top: 2px;
    text-transform: uppercase;
    color: #fff;
    background-color: rgba(1, 152, 59, 1);
    position: relative;
  }
.content-right p::before {
content: '';
height: 18px;
width: 47px;
background-color: rgba(1, 152, 59, 0.6);
position: absolute;
right: -47px;
top: 0px;
}
.content-right p::after {
    content: '';
    height: 18px;
    width: 48px;
    background-color: rgba(1, 152, 59, 0.3);
    position: absolute;
    right: -95px;
    top: 0px;
    }
.content-left p::before {
    content: '';
    height: 18px;
    width: 47px;
    background-color: rgba(1, 152, 59, 0.6);
    position: absolute;
    left: -47px;
    top: 0px;
}
.content-left p::after {
    content: '';
    height: 18px;
    width: 48px;
    background-color: rgba(1, 152, 59, 0.3);
    position: absolute;
    left: -95px;
    top: 0px;
}
.logo-2-2 {
    width: 100%;
    height: 24px;
    background: linear-gradient(to top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5));
    position: relative;
    top: 159px;
}
.logo-left {
    width: 100%;
    height: 100%;
    background-image: url(../images/logo-2.png);
    background-repeat: no-repeat;
    background-position: 88% 50%;
}
.logo-right {
    width: 100%;
    height: 100%;
    background-image: url(../images/logo-2.png);
    background-repeat: no-repeat;
    background-position: 11% 50%;
}
.rombs{
    display: block;
    margin: 0 auto;
    margin-top: 50px;
    width: 1144px; 
   }
.flex-menu-rombs {
    display: flex;
    /*justify-content: space-between;*/
    padding: 0;
    margin: 0;
}
.conteiner-screen3{
    display: block;
    box-sizing: border-box;
    width: 191px;
    height: 260px;
}
.conteiner-screen3 p{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    color: #58af72;
}
.conteiner-screen3:nth-child(2n) {
    margin-top: 48px;    
 }
.screen-4 {
    margin: 0 auto;   
    max-width: 1920px; 
    background-image: url(../images/screen-4.jpg);
}                          
.logo-4{
    position: relative;
    z-index: 5;
    margin: 0 auto;
    padding-top: 45px;

   }
.title-4{
    position: relative;
    z-index: 10;
    color: #01983b;

}
.conteiner-table-specifications{  
    display: table;
    position: relative;
    width:981px; 
    margin: 0 auto;
}
.conteiner-table-specifications::before {
    /* полупрозрачный белый фон */
    content: '';
    position: absolute;
    top: -151px;
    left: -120px;
    right: -120px;
    bottom: -56px;
    background-color: rgba(255,255,255, 0.5);
  }
  
  .conteiner-table-specifications::after {
      /* белая окантовка */
    content: '';
    position: absolute;
    top: -151px;
    left: -120px;
    right: -120px;
    bottom: -56px;
    border: solid 3px #e6ecf4;
  }
.table-specifications {
    box-sizing: border-box;
    position: relative;
    z-index: 2;
    text-align: center;
    margin: 0 auto;
    border: solid 3px #d5dfec;
    width: 100%;
    background-color: #fff;
    border-collapse: collapse;
}
.table-specifications tr:nth-child(2n) {
  background-color: #f2f5f7;
}
.table-specifications th:first-child {
    text-align: left;
    padding-left: 12px;
}
.table-specifications td:first-child {
    text-align: left;
    padding-left: 12px;
}
.table-specifications th{ 
    height: 36px;
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: bold;
    border: solid 1px #d5dfec;
    font-size: 14px;
    color: #fff;
    background-color: #01983b;
}
.table-specifications td{
    height: 36px;
    border: solid 1px #d5dfec;
    color: #043567;
}
.shadow-4 { 
    position: relative;
    z-index: 5;
    margin: 0 auto;
    max-width: 1215px;
    height: 51px;
    background-image: url(../images/shadow-4.png);
}
.screen-5 {
    max-width: 1920px; 
    margin: 0 auto;
   /* height: 502px; */  
    background-image: url(../images/screen-5.jpg);
}
.title5{
    color: #01983b;
    padding-top: 48px;
}
.conteiner_table_screen5{
    margin: 0 auto;
    width: 981px;  
    padding-bottom: 40px;
}
.table_screen5{
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;   
    border-spacing: 9px 6px;
}
.table_screen5 tr{
    height: 40px;                                  /*без этого никак не получается !?*/
}
.table_screen5 td{
    position: relative;
    font-family: sans-serif;
    font-size: 14px;
    color: #fff;
    text-align: left;
    padding:  10px 50px 10px 70px;
}
.table_screen5 td:first-child {
    background-image: url(../images/img5-left.png);
    background-repeat: no-repeat;
    background-position: 15px 3px;
    background-color: #ff0000;
    text-align: top;                            /*Не работает (см. Какие задачи решает> Расточительность)*/
   }
.table_screen5 td:last-child {
    background-image: url(../images/img5-right.png);
    background-repeat: no-repeat;
    background-position: 15px 3px;
   /* background-position: 0*/
   background-color: #01983b;
}
.first-td::before{
content: '';
height: 100%;
width: 61px;
background-color: rgba(255, 0, 0, 0.5);
position: absolute;
left: -61px;
top: 0px;
}
.first-td::after{
    content: '';
    height: 100%;
    width: 122px;
    background-color: rgba(255, 0, 0, 0.2);
    position: absolute;
    left: -122px;
    top: 0px;
}
.second-td::before{
    content: '';
    height: 100%;
    width: 61px;
    background-color: rgba(1, 152, 59, 0.5);
    position: absolute;
    right: -61px;
    top: 0px;
}
.second-td::after{
        content: '';
        height: 100%;
        width: 122px;
        background-color: rgba(1, 152, 59, 0.2);
        position: absolute;
        right: -122px; 
        top: 0px;
}

.screen-6 {
    max-width: 1920px; 
    margin: 0 auto;
   /* height: 539px; */  

}
.logo-6{
    padding-top: 10px;
}
.title-6 {
    padding-top: 10px; 
    padding-bottom: 20px;
}
.lightbox{
    max-width: 880px; 
    margin: 0 auto;
    padding-bottom: 20px;
}
.logo_top100{
    margin: 0 auto;
    width: 558px;
    height: 148px;
    background-image: url(../images/logo-konkurs_top100.png);
    background-repeat: no-repeat;
    padding-bottom: 45px;
}

.screen-7 {
    max-width: 1920px; 
    margin: 0 auto;
  /*  height: 501px;  */
}
.cont{
    margin: 0 auto;
    position: relative;
    z-index: 1;
    width: 1144px;
    height: 201px;             /*Как позиционировать этот блок, чтобы он не уплывал при скролле?? Ответ: max-width родителю*/
    background-color: #01983b;
    background-image: url(../sources/pattern.png);
    border-radius: 0px 0px 21px 21px;
}
.title-7{
    color: #fff;
    padding-bottom: 0;
}
.ooo {
    margin: 0 auto;
    width: 540px;  
}
.ooo > p{
     padding-top: 10px;
     color: #fff;
     font-family: sans-serif; 
     font-weight: normal;
     font-size: 18px; 
     text-align: center;
 }
 .ooo > p:last-child{
    font-size: 14px; 
    padding-top: 20px;
 }
.email {
         margin: 0 auto;
         width: 340px; 
}
.email p {
text-align: center;
padding-top: 10px;
}
 .email p>a{   
    text-decoration: none;
    font-size: 14px;
    font-weight: normal;
    color: #fff; 
    transition: 0.4s;
}
.email p>a:hover{
    text-decoration: underline;
    transition: 0.4s;
 }
 .email p>a:active{
     color: #000;
  }
.footer {
    max-width: 1920px; 
    margin: 0 auto;
    height: 312px;   
    background-image: url(../images/footer.jpg);
}
.logo-footer{
    width: 335px;
    height: 75px;
    margin: 0 auto;
    padding-top: 25px;
}
.god{
    margin: 0 auto;  
    width: 340px; 
    padding-top: 6px;
}
.god >p{
    font-size: 12px;
    font-weight: bold;
    color: #fff; 
    text-align: center;
}
.setifooter {
    padding-top: 15px;
     margin: 0 auto;

 }
.setifooter >p {  
     color: #fff;
     font-family: sans-serif; 
     font-weight: bold;
     font-size: 12px; 
     text-align: center;
 }
 .setilogo_conteiner{
    margin: 0 auto;
    padding-top: 10px;
    width: 75px; 
    height: 32px;
 }
 .setilogo{
    display: flex;
    justify-content: space-between;
  
 }
 .setilogo div >a{
    display: block;
}
.setilogo div >a:hover {
    opacity: 0.7;
    transition: all 0.4s;
 }
 .razrab{
     padding-top: 80px;            /* не понимаю, почему не получается задать padding-bottom*/
     margin: 0 auto;
     width: 280px;
     height: 25px;
 }
 .razrab p>a{
     display: block;
     color: #fff;
     font-family: sans-serif; 
     font-weight: bold;
     text-transform: uppercase;
     text-decoration: none;
     font-size: 12px; 
     text-align: center;
 }
 